/* Стили, связанные с компонентом AppShell */

.container {
  min-height: 100vh;
}

.header {
  background: var(--mantine-color-body);
  border-bottom: 1px solid var(--mantine-color-gray-3);
  padding: 0 var(--mantine-spacing-md);
}

.navbar {
  border-right: 1px solid var(--mantine-color-gray-3);
}

.main {
  padding: var(--mantine-spacing-xl);
}

.logo {
  height: 40px;
  width: auto;
}

.burger {
  @media (min-width: 50px) {
    display: none;
  }
}